.about{
    height: 80vh;
    background-image: url("../assets/img/1neteam.jpeg");
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.about .text-section .heading-l{
    font-size: 48px;
}

#mission_vision{
    border-radius: 16px;
    color: white;
    background-image: url("../assets/img/suitcase2.jpeg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.mission{
    padding: 24px;
    width: 350px;
    text-align: center;
    border-radius: 16px;

    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@media (max-width: 1366px){
    .about{
        width: 100%;
    }
    .text-section{
        padding: 16px;
        text-align: none;
    }

    .about .text-section .heading-l{
        font-size: 24px;
    }
    .about .text-section .body-l{
        font-size: 16px;
    }

    .image-section iframe{
        width:90%;
    }

    #mission_vision{
        border-radius: 0;
    }

    
}