
#testimonials{
    mask-image: linear-gradient(to right, transparent, black 450px, black calc(100% - 450px), transparent);
}
.testimonial-card{
    width: 350px;
    background-color: #f4f4f8;
    height: 250px;
    border-radius: 16px;
    border: 2px solid #f1f0f4;
    padding: 16px;
}

.testimonial-card .testimonial-footer img{
    object-fit: cover;
}

@media (max-width: 1366px){
    #testimonials{
        mask-image: none;
    }
}



